body {
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 10pt;
/* 	color: #111111; */
	line-height: 180%;
	background-color: #f1f1f1;
	color: #222;
	width: 711px;
	margin-left: auto;
	margin-right: auto;
}

img {
	border: none;
}

#header {
	margin-top: 15px;
	padding: 2px;
	height: 59px;
	margin-left: 0px;
	background-image: url(images/header.png);
}

#spacer {
	margin: 0px;
	height: 1px;
	background-image: url(images/bg_content.png);
}

#content {
	padding: 5px;
	margin: 0px;
	padding-left: 15px;
	padding-right: 15px;
	background-image: url(images/bg_content.png);
}

#footer {
	padding: 1px;
	height: 30px;
	text-align: center;
	font-size: x-small;
	color: #d1d1d1;
	background-image: url(images/footer.png);
}

#nav {
	padding: 1px;
	color: #22B;
	padding-left: 18px;
	background-image: url(images/bg_nav.png);
}

#nav a {
	text-decoration: none;
}

#nav a.current {
	font-weight: bold;
}

#nav a:hover {
	color: #FFC173;
}

#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	display: inline;
	margin: 0;
	margin-right: 14px;
	padding: 0;
}
